<h1>Hi <%= name %></h1>

<form action = "/logout?_method = DELETE" method="POST">
    <button type ="submit">Log Out</button>
</form>


<style>
h1 {
    text-align: center;
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    }
form {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
button {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}
button:hover{
 background-color: aquamarine;

}


</style>